<% q=0 %>
<h3> Summary </h3>
<% puts "In the HTMLS" %>
<% for q in 0..@addresses.size-1  %>

   Property <%= q+1 %>:
   <%= @addresses[q].street %>
   <%= @addresses[q].citystatezip %> <br>
   <% puts q %>
   <% puts @addresses[q].street.to_s.upcase.strip %>
   <% localMetricsPass = @allOutput.find_by(street: URI.unescape(@addresses[q].street.to_s.upcase.gsub(",","").gsub("+"," ").gsub("."," ").strip), citystatezip: URI.unescape(@addresses[q].citystatezip.to_s.upcase.gsub(",","").gsub("+"," ").gsub("."," ").strip)).passes.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","").gsub(" ","").split(",")  %>
   
   Passed <%= localMetricsPass.count("true") %> tests in <%= @sectionTimes[q+1]%> seconds.<br>
   
   <b> <%= "Failed: " if !@allOutput.find_by(street: URI.unescape(@addresses[q].street.to_s.upcase.gsub(",","").gsub("+"," ").gsub("."," ").strip), citystatezip: URI.unescape(@addresses[q].citystatezip.to_s.upcase.gsub(",","").gsub("+"," ").gsub("."," ").strip)).reason.to_s.include? "Approved" %>

      <%= @allOutput.find_by(street: URI.unescape(@addresses[q].street.to_s.upcase.gsub(",","").gsub("+"," ").gsub("."," ").strip), citystatezip: URI.unescape(@addresses[q].citystatezip.to_s.upcase.gsub(",","").gsub("+"," ").gsub("."," ").strip)).reason.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","").gsub("nil","").gsub(",","") %> <br> </b>
   
   <br>
<% end %>
<hr>
   <h3> Property Details:</h3>

<% for q in 0..@addresses.size-1  %>
   <b> Property <%= q+1 %>: </b> 
   <%= @addresses[q].street %> 
   <%= @addresses[q].citystatezip %> <br>
   <b> <%= "Failed: " if !@allOutput.find_by(street: URI.unescape(@addresses[q].street.to_s.upcase.gsub(",","").gsub("+"," ").gsub("."," ").strip), citystatezip: URI.unescape(@addresses[q].citystatezip.to_s.upcase.gsub(",","").gsub("+"," ").gsub("."," ").strip)).reason.to_s.include? "Approved" %><%= @allOutput.find_by(street: URI.unescape(@addresses[q].street.to_s.upcase.gsub(",","").gsub("+"," ").gsub("."," ").strip), citystatezip: URI.unescape(@addresses[q].citystatezip.to_s.upcase.gsub(",","").gsub("+"," ").gsub("."," ").strip)).reason.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","").gsub("nil","").gsub(",","") %> 
   </b>
   <% localMetricsNames = @allOutput.find_by(street: URI.unescape(@addresses[q].street.to_s.upcase.gsub(",","").gsub("+"," ").gsub("."," ").strip), citystatezip: URI.unescape(@addresses[q].citystatezip.to_s.upcase.gsub(",","").gsub("+"," ").gsub("."," ").strip)).names.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","").split(",")  %>
   <% localMetrics = @allOutput.find_by(street: URI.unescape(@addresses[q].street.to_s.upcase.gsub(",","").gsub("+"," ").gsub("."," ").strip), citystatezip: URI.unescape(@addresses[q].citystatezip.to_s.upcase.gsub(",","").gsub("+"," ").gsub("."," ").strip)).numbers.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","").split(",")  %>
   <% localMetricsPass = @allOutput.find_by(street: URI.unescape(@addresses[q].street.to_s.upcase.gsub(",","").gsub("+"," ").gsub("."," ").strip), citystatezip: URI.unescape(@addresses[q].citystatezip.to_s.upcase.gsub(",","").gsub("+"," ").gsub("."," ").strip)).passes.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","").split(",")  %>
   <% localMetricsComments = @allOutput.find_by(street: URI.unescape(@addresses[q].street.to_s.upcase.gsub(",","").gsub("+"," ").gsub("."," ").strip), citystatezip: URI.unescape(@addresses[q].citystatezip.to_s.upcase.gsub(",","").gsub("+"," ").gsub("."," ").strip)).comments.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","").split(",") %>
   <% localMetricsUsage = @allOutput.find_by(street: URI.unescape(@addresses[q].street.to_s.upcase.gsub(",","").gsub("+"," ").gsub("."," ").strip), citystatezip: URI.unescape(@addresses[q].citystatezip.to_s.upcase.gsub(",","").gsub("+"," ").gsub("."," ").strip)).usage.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","").split(",") %>
   <table class = "table">
      <tr>
         <thead>
   <tr>
   <td> <b># </b></td>
   <td> <b>Usage </b></td>  
   <td> <b>Metric </b></td>
   <td> <b>Value </b></td>
   <td> <b>Pass </b></td>
   <td> <b>Comments </b></td>      
 
   </tr>
   </thead>
   <% for x in 0..localMetrics.size-1 %>
      <tr>

      <% if localMetricsUsage[x]=="Not Used" %>
      <td> <i> <%= x %> </i> </td>
      <td> <i> Not Used </td> </i>     
      <td> <i> <%= localMetricsNames[x] %></i></td>
      <td> <i> <%= localMetrics[x] %></i></td>
      <td> <i> <% if localMetricsPass[x] %>
         <%= localMetricsPass[x] %>
         <% end %>
         <b>
         <% if !localMetricsPass[x] %>
         <%= localMetricsPass[x].to_s.upcase %>
         <% end %>
         </b>
         </i>
      </td>
      <td> <i> <%= localMetricsComments[x] %></i></td>
      <% end %>
      <% if localMetricsUsage[x]!="Not Used" %>
      <td> <%= x %> </td>
      <td> <%= localMetricsUsage[x] %></td>      
      <td> <%= localMetricsNames[x] %></td>
      <td> <%= localMetrics[x] %></td>
      <td> <% if localMetricsPass[x] %>
         <%= localMetricsPass[x] %>
         <% end %>
         <b>
         <% if !localMetricsPass[x] %>
         <%= localMetricsPass[x].to_s.upcase %>
         <% end %>
         </b>
      </td>
      <td> <%= localMetricsComments[x] %></td>
      <% end %>
      </tr>
   <% end  %>
   </table>
   <br>
<% end  %>
<hr>
   <h3> Debugging API Calls:</h3>
<small>
<% for q in 0..@addresses.size-1  %>
   <% localUrlsToHit = @allOutput.find_by(street: URI.unescape(@addresses[q].street.to_s.upcase.gsub(",","").gsub("+"," ").gsub("."," ").strip), citystatezip: URI.unescape(@addresses[q].citystatezip.to_s.upcase.gsub(",","").gsub("+"," ").gsub("."," ").strip)).urls.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","").split(",")  %>
   <b> Detailed APIs for property <%= q+1 %>: <br></b>
   <% for x in 0..localUrlsToHit.size-1  %>
      <%= localUrlsToHit[x].gsub("THESENTINEL",",") %>
      <br>
   <% end  %>
<% end  %>
</small>
<hr>