<h1>Outputs</h1>
<% if !@public %>
<b> Property <%= @output.id %>: </b> <%= @output.time %> seconds <br>
<% end %>
<%= @output.street %> 
<%= @output.citystatezip %> <br>
<b> <%= "Failed: " if !@output.reason.to_s.include? "Approved" %><%= @output.reason.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","").gsub("nil","").gsub(",","") %>
</b>
<br>
<a href = <%= "http://www.zillow.com/homedetails/"+@output.zpid.to_s+"_zpid/" %>> Zillow Link </a> 
<hr>
<% localMetricsNames = @output.names.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","").split(",")  %>
<% localMetrics = @output.numbers.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","").split(",")  %>
<% localMetricsPass = @output.passes.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","").split(",")  %>
<% localMetricsComments = @output.comments.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","").split(",") %>
<% localMetricsUsage = @output.usage.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","").split(",") %>
<table class = "table">
   <thead>
      <tr>
         <td> <b># </b></td>
         <td> <b>Usage </b></td>  
         <td> <b>Metric </b></td>
         <td> <b>Value </b></td>
         <td> <b>Pass </b></td>
         <td> <b>Comments </b></td>      

      </tr>
   </thead>
   <% for x in 0..localMetrics.size-1 %>
   <tr>

      <% if localMetricsUsage[x].to_s.upcase.strip =="NOT USED" %>
      <td> <i> <%= x %> </i> </td>
      <td> <i> Not Used </td> </i>     
      <td> <i> <%= localMetricsNames[x] %></i></td>
      <td> <i> <%= localMetrics[x] %></i></td>
      <td> <i> <% if localMetricsPass[x].to_s.upcase.strip == "T" || localMetricsPass[x].to_s.upcase.strip == "TRUE"%>
         True
         <% end %>
         <b>
            <% if localMetricsPass[x].to_s.upcase.strip != "T" && localMetricsPass[x].to_s.upcase.strip != "TRUE"%>
               FALSE
            <% end %>
         </b> </i>
      </td>
      <td> <i> <%= localMetricsComments[x] %></i></td>
      <% end %>

      <% if localMetricsUsage[x].to_s.upcase.strip !="NOT USED" %>
      <td> <%= x %> </td>
      <td> <%= localMetricsUsage[x] %></td>      
      <td> <%= localMetricsNames[x] %></td>
      <td> <%= localMetrics[x] %></td>
      <td> <% if localMetricsPass[x].to_s.upcase.strip == "T" || localMetricsPass[x].to_s.upcase.strip == "TRUE"%>
         True
         <% end %>
         <b>
            <% if localMetricsPass[x].to_s.upcase.strip != "T" && localMetricsPass[x].to_s.upcase.strip != "TRUE"%>
               FALSE
            <% end %>
         </b>
      </td>
      <td> <%= localMetricsComments[x] %></td>
      <% end %>
   <% end %>
   </tr>
</table>
<br>

<% if !@public %>

<h3> Debugging API Calls:</h3>
<small>
   <% localUrlsToHit = @output.urls.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","").split(",")  %>
   <% for x in 0..localUrlsToHit.size-1  %>
   <%= localUrlsToHit[x].gsub("THESENTINEL",",") %>
   <br>
   <% end  %>
</small>
<hr>


<h3> Data for export:</h3>
<table>
   <tr class="border_bottom">
      <td width = 200> Headers </td>
      <td>
         Street, 
         <% @output.names.to_s.gsub("[","").gsub("]","").gsub("\"","").split(",").each do |name| %>
         <%= name.to_s + " pass," %>
         <% end %>
         <% @output.names.to_s.gsub("[","").gsub("]","").gsub("\"","").split(",").each do |name| %>
         <%= name.to_s + " numbers," %>
         <% end %>
         <% for qcount in 0..9 %>
         <%= "Reason "+ qcount.to_s + "," %>
         <% end %>
         <% @output.names.to_s.gsub("[","").gsub("]","").gsub("\"","").split(",").each do |name| %>
         <%= name.to_s + " comments," %>
         <% end %>
         --THE-END--
      </td>
   </tr>
   <tr class="border_bottom">
      <td width = 200>Property: <%= @output.id.to_s %>  |  |  
         <%= @output.street.to_s %> 
      </td>
      <td> <%= @output.street.to_s %>,
         <%= @output.passes.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","") %>,
         <%= @output.numbers.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","") %>,
         <%= @output.reason.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","") %>,
         <%= @output.comments.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","") %>,
         --THE-END--
      </td>
   </tr> 
</table>
<hr>

<% end %>