<br>
<br>
<% for x in 0..@scrappingTable.length-1 %>
<% for y in 0..@scrappingTable[x].length-1 %>
<br>
|| <%= x %> || <%= y %> ||
<br>
<%= @scrappingTable[x][y] %>

<% end %>
<% end %>

<br>
<br>
Now we're cooking with fire
<br>
<br>

<table>
<% for x in 0..@scrappingTable.length-1 %>
	<tr>
		<td width = 100>
			<%= @prices[x] %>
		</td>
		<td width = 100>
			<%= @bedrooms[x] %>
		</td>
		<td width = 100>
			<%= @bathrooms[x] %>
		</td>
	</tr>
<% end %>
	<tr>
		<td width = 100>
			<%= @totalPrice.to_f / @totalCount.to_f %>
		</td>
		<td width = 100>
			<%= @totalBedrooms.to_f / @totalCount.to_f %>
		</td>
		<td width = 100>
			<%= @totalBathrooms.to_f / @totalCount.to_f %>
		</td>
	</tr>


</table>

