
<h1>Outputs</h1>
<a href = /outputs/1/1000000> Copy for export </a>
<% if @forexport == false %>
<table>
   <tr class="border_bottom"> 
      <td> # </td>
      <td> Address </td>
      <td> Decision </td>
      <td width = 100> Inspect </td>
      <td width = 100> Zillow </td>
      <td width = 150> Run ID </td>
      <td> Release </td> 
   </tr> 

   <% @outputs.each do |output| %>
   <tr> 
      <td width = 45> <b> <%= output.id %>: </b> </td>
      <td width = 500> <%= output.street %> <%= output.citystatezip %> </td>
      <td width = 150> <%= output.reason.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","").split(",").count{|x| x != "nil" && x != " nil" && x != " Approved"} >= 2 ? "Failed multiple" : "" %>
         <%= output.reason.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","").split(",").count{|x| x != "nil" && x != " nil" && x != " Approved"} == 1 ? output.reason.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","").gsub(",","").gsub("nil","") : ""%>
         <%= output.reason.to_s.include?("Approved") ? "Approved" : "" %>    
         </td>
      <td width = 100> <a href = /inspect/<%= output.id %>> Inspect </a> </td>
      <td width = 100> <a href = <%= "http://www.zillow.com/homedetails/"+output.zpid.to_s+"_zpid/" %>> Zillow </a> 
      <td width = 150> <a href = /outputs/run/<%= URI.escape(output.runid) %>> <%= output.runid %> </a> </td>
      <td> <a href = /outputs/destroy/<%= output.id %>> Release </a> </td> 
   </tr> 
   <% end %>
</table>
<br>
<br>
<% end %>


<% if @forexport == true %>
<h3> Data for export:</h3>
<table>
   <tr class="border_bottom">
      <td width = 200> Headers, </td>
      <td>
         Street, 
         <% @outputs.first.names.to_s.gsub("[","").gsub("]","").gsub("\"","").split(",").each do |name| %>
         <%= name.to_s + " pass," %>
         <% end %>
         <% @outputs.first.names.to_s.gsub("[","").gsub("]","").gsub("\"","").split(",").each do |name| %>
         <%= name.to_s + " numbers," %>
         <% end %>
         <% for qcount in 0..9 %>
         <%= "Reason "+ qcount.to_s + "," %>
         <% end %>
         <% @outputs.first.names.to_s.gsub("[","").gsub("]","").gsub("\"","").split(",").each do |name| %>
         <%= name.to_s + " comments," %>
         <% end %>
         --THE-END--
      </td>
   </tr>

   <% @outputs.each do |output|  %>
   <% if output.id.to_f <= @end.to_f && output.id.to_f >= @start.to_f %>
   <tr class="border_bottom">
      <td width = 200>Property: <%= output.id.to_s %>  |  |  
         <%= output.street.to_s %>, 
      </td>
      <td> <%= output.street.to_s %>,
         <%= output.passes.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","") %>,
         <%= output.numbers.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","") %>,
         <%= output.reason.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","") %>,
         <%= output.comments.to_s.gsub("[","").gsub("]","").gsub("\"","").gsub("\"","") %>,
         --THE-END--
      </td>
   </tr>  
   <% end %>
   <% end %>
</table>
<hr>
<% end %>