<h1>Census tract</h1>

Total Records: <%= @censustracts.size   %>

<table>
  <thead>
    <tr>
      <th>Home</th>
      <th>Name</th>
      <th>Area</th>
      <th>Population</th>
      <th>HU</th>
      <th>State</th>      
      <th>Lat</th>      
      <th>Lon</th>      
      <th>Full Name</th>      
    </tr>
  </thead>

  <tbody>
    <% @censustracts[0..100].each do |censustract| %>
    <tr>
      <td width = 150><%= censustract.home %></td>
      <td width = 150><%= censustract.name %></td>
      <td width = 150><%= censustract.area.round(2) %></td>
      <td width = 150><%= censustract.pop %></td>
      <td width = 150><%= censustract.hu %></td>
      <td width = 150><%= censustract.state %></td>
      <td width = 150><%= censustract.lat %></td>
      <td width = 150><%= censustract.lon %></td>
      <td width = 300><%= censustract.stringname %></td>
    </tr>
  <% end %>
  </tbody>
</table>

